.footer__wrapper {
  position: relative;
  padding-top: 2rem;
}
.footer__wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17rem;
  display: block;
  content: '';
  background-color: rgba(219, 183, 73, .7);
}
.footer {
  position: relative;
}
.footer__block {
  margin-bottom: 3rem;
}
.footer__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--title-font);
  margin-bottom: 2rem;
}
.footer__item {
  margin-bottom: 1.5rem;
}
.footer__link {
  font-size: 1.8rem;
}
.footer__logo {
  display: block;
  margin-bottom: 2rem;
  color: var(--main-text-color)
}
.footer .text--mb {
  margin-bottom: 1rem;
  display: block;
}
.footer__social-block {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.footer__social-block .social-link:first-child {
  margin-right: 2rem;
}
.footer__bottom {
  padding: 2rem 0;
}
.footer__span {
  font-size: 1.5rem;
}
.footer__link-box {
  display: flex;
  align-items: center;
}
.footer__icon {
  display: block;
  width: 4rem;
  margin-right: 1rem;
}

@media screen and (min-width: 1440px)  {
 
  .footer__top-block {
    display: flex;
    justify-content: space-between;
  }
  .footer__block {
    width: fit-content;
    position: relative;
    margin-bottom: 0;
  }
  .footer__social-block {
    justify-content: flex-end;
  }

  .footer__link {
    position: relative;
  }
  .footer__link::after {
      position: absolute;
      display: block;
      content: '';
      height: .1rem;
      width: 0;
      background-color: var(--main-text-color);
      transition: all 0.3s ease-in-out;
      bottom: -.5rem;
      left: 0;
  }
  .footer__link:hover::after {
      width: 100%;
  }
  .footer__block--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .footer__block--right .footer__item {
    text-align: right;
  }
.footer__block--bottom {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo, .footer .text--mb {
  margin: 0;
}
  
}