.products__wrapper { 
    position: relative;
}
.products__wrapper::before { 
    position: absolute;
    width: 100%;
    height: 17rem;
    top: 0;
    right: 0;
    display: block;
    content: '';
    background-color: rgba(219, 183, 73, .7);
}
.products {
    text-align: center;
    padding: 30rem 0;
    position: relative;
    z-index: 2;
}
.products .container {
    position: relative;
}
.products__title {
    font-family: var(--title-font);
    font-size: 5rem;
}
.sub-title__box {
    position: relative;
    margin-bottom: 3rem;
    max-width: 140rem;
    margin-left: auto;
    margin-right: auto;
}
.prod__title {
    font-size: 5rem;
    margin-bottom: 4rem;
    font-family: var(--title-font);
}
.success-message {
    background-color: var(--success);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    margin-bottom: 2rem;
}
.success-message--active {
    opacity: 1;
    visibility: visible;
}
.products .sub-title {
    margin-bottom: 0;
    padding-bottom: 2rem;
}
.products .item {
    position: relative;
    padding-top: 5rem;
}
.product__block {
    padding: 1rem;
    position: relative;
    transition: all .3s ease-in-out;
}

.product__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: var(--main-bg-color);
    width: 100%;
    max-width: 100%;
}

.product__img-box .img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 15rem;
    max-height: 15rem;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.mySwiper2 .product__img-box .img {
    height: 35rem;
    max-height: 35rem;
}
.product__name {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: block;
}
.product__text-box {
    margin-bottom: 2rem;
}
.product__price {
    font-size: 2.2rem;
}

.product__btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__btn-block .product__btn:first-child {
    margin-right: 3rem;
}
.product__btn {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: var(--main-title-font);
    position: relative;
}
.product__btn::after {
    display: block;
    content: '';
    width: 100%;
    height: .1rem;
    background-color: var(--main-text-color);
    position: absolute;
    transition: all 0.3s ease-in-out;
    bottom: -0.5rem;
    left: 50%;
    transform: translate(-50%,0);
}
@media screen and (min-width: 1440px) {  
    .products {
        text-align: right;
    }
   .products__list {
       max-width: 125rem;
       margin-left: auto;
       display: grid;
       grid-template-columns: repeat(7, 1fr);
       column-gap: .5rem;
       row-gap: .5rem;
   }
   .products__list .item {
    padding-top: 0;
  }
   .product__block {
       background-color: var(--fourth-brand-color);
   }
   .product__btn:hover::after {
    width: 10%;
}
}



